<form method="post" action="{{ path('tweet_delete', {'id': tweet.id}) }}" onsubmit="return confirm('Etes-vous sur de vouloir supprimer ce tweet?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tweet.id) }}">
    <button class="btn btn-outline-danger">Supprimer</button>
</form>
