{% extends 'base.html.twig' %}

{% block title %}Erreur{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h2 align="center">Erreur</h2>
    <br></br>


    <p>L'intelligence artificielle n'est pas encore disponible sur le site web suite à des problèmes techniques.
    Nous nous excusons pour la gêne occasionée.</p>

</div>

{% endblock %}
