{% extends 'base.html.twig' %}

{% block title %}Intelligence artificielle{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 align="center">L'intelligence artificielle</h1>
    <br></br>

    <h3>Principe de l'algorithme</h3>

    <p>L’intelligence artificielle détecte les tweets pouvant témoigner d'un harcèlement à l'aide d'un algorithme de <strong>deep learning</strong>
      entrainé sur une base de données de plus de 100 000 tweets annotés (offensants ou non).
      Cette recherche s'effectue sur une partie des tweets reçus par la victime présumée au cours des <strong>8 derniers jours</strong>.
    </p>

    <p>Le mode "<strong>démo</strong>" permet de tester les performances de l'algorithme. Dans ce mode, la recherche des tweets insultants n'a plus lieu sur Twitter
      mais sur une partie (100 tweets) d'une base de données de tweets contenant 50% de tweets offensants. Ces tweets ne sont donc plus destinés à un utilisateur Twitter en particulier.</p>

    <p><u>Points forts</u> : Assez bonne détection des insultes subtiles, comme les sous-entendus et l'ironie</p>
    <p><u>Point faible</u> : Taux de faux positifs plutôt élevé (tweets détectés comme offensants alors qu'il ne le sont pas)</p>

    <br>

    <h3>Utilisation de l'algorithme</h3>

    <p>Entrez l'identifiant Twitter de la présumée victime de cyber-harcèlement
    <a class="btn btn-outline-info" href="{{ path('web_request_new') }}">ici</a></p>

    <p>Puis,
    <a class="btn btn-info" href="{{ asset('main/generateIA') }}">Lancer l'algorithme</a></p>

    <br>

    <p>Ou bien vous pouvez :
    <a class="btn btn-info" href="{{ asset('main/generateDemoIA') }}">Lancer la démo</a></p>




{% endblock %}
