{% extends 'base.html.twig' %}

{% block title %}Loi{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1 align="center">La loi sur le cyber-harcèlement</h1>
    <br></br>

    <h3>La loi française</h3>

    <p>Le harcèlement est défini dans le code pénal par l’article 222-33-2-2 :<p>
    <i>« Le fait de harceler une personne par des propos ou comportements <strong>répétés</strong> ayant pour objet ou pour
      effet une dégradation de ses conditions de vie se traduisant par une altération de sa <strong>santé physique
      ou mentale</strong> est puni d'<strong>un an d'emprisonnement</strong> et de <strong>15 000 € d'amende</strong> lorsque ces faits ont causé une incapacité
      totale de travail inférieure ou égale à huit jours ou n'ont entraîné aucune incapacité de travail.</i>
    <i>L'infraction est également constituée :</i>
    <ul>
      <li><i>Lorsque ces propos ou comportements sont imposés à une même victime par plusieurs personnes,
        de manière concertée ou à l'instigation de l'une d'elles, alors même que chacune de ces personnes n'a pas agi de façon répétée ;</i></li>
      <li><i>Lorsque ces propos ou comportements sont imposés à une même victime, successivement, par plusieurs personnes qui,
        même en l'absence de concertation, savent que ces propos ou comportements caractérisent une répétition.</i></li>
    </ul>

    <i>Les faits mentionnés du premier à quatrième alinéas sont punis de deux ans d'emprisonnement et de 30 000 € d'amende :</i>
    <ol>
      <li><i>Lorsqu'ils ont causé une incapacité totale de travail supérieure à huit jours ;</i></li>
      <li><i>Lorsqu'ils ont été commis sur un <strong>mineur de quinze ans</strong> ;</i></li>
      <li><i>Lorsqu'ils ont été commis sur une personne dont la particulière <strong>vulnérabilité</strong>, due à son âge, à une maladie,
        à une infirmité, à une déficience physique ou psychique ou à un état de grossesse, est apparente ou connue de leur auteur ;</i></li>
      <li><i>Lorsqu'ils ont été commis par l'utilisation d'un <strong>service de communication au public en
        ligne</strong> ou par le biais d'un support numérique ou électronique ;</i></li>
      <li><i>Lorsqu'un mineur était présent et y a assisté.</i></li>
    </ol>

    <i>Les faits mentionnés du premier à quatrième alinéas sont punis de <strong>trois ans d'emprisonnement</strong> et de <strong>45 000 € d'amende</strong>
      lorsqu'ils sont commis dans deux des circonstances mentionnées aux 1° à 5°. »</i>
    <br></br>
    <p>Source :
      <a href="https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037289658/2018-08-06">
        https://www.legifrance.gouv.fr/codes/article_lc/LEGIARTI000037289658/2018-08-06</a> </p>

    <p>Cet article a été ajouté dans le code pénal par la loi n° 2014-873 du 4 août 2014 pour l'égalité réelle
      entre les femmes et les hommes, puis modifiée par la loi n° 2018-703 du 3 août 2018 renforçant la lutte contre
      les violences sexuelles et sexistes. Toute victime de cyberharcèlement est alors en mesure de s’appuyer sur le code pénal
      afin de réaliser une action judiciaire, ou encore porter plainte contre le harceleur.</p>
    <br></br>

    <h3>Le site e-ustitia</h3>

    <p>Les informations fournies par e-ustitia ne peuvent être utilisé en tant que pièces à convictions.</p>
    <p>Le site peut cependant permettre de fournir du matériel permettant d’aider les personnes victimes de cyberharcèlement
      à <strong>prouver leur statut de victime</strong> auprès d'établissements scolaires par exemple.</p>

{% endblock %}
